<%- include('../partials/header') %>


<section id="badge-container">
 
  <h3><%= band.name %></h3> 
 <% band.reviews.forEach(function(r){%>
  
  <ol>

  <li><%= r.content %></li>
  </ol>
 
   <% }) %>
</section>

<h2>Enter a  Review</h2>

<form action="/carnivals/bands/<%=band._id%>" method="POST">


      </label><br>
  <label>Year You Played Mas:
    <input type="number" name="yearPlayed">
  </label><br>
  <label>Review:
    <input type="string" name="content">
  </label><br>
<button type="submit">Add Review</button>


</form>
<%- include('../partials/footer') %>

